.App {
  /*text-align: center;*/
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header h1 {
  margin-bottom: 5px;
}
.App-header h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.App-link {
  color: #09d3ac;
}
